$color-zero: rgb(62, 62, 83);
$color-one: rgb(202, 228, 236);
$color-pop-up: rgba(0, 0, 0, 0.7);
$color-shadow: black;


$font-one: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-size-one: 14px;
$font-size-two: 16px;

$margin-one: 2px;
$margin-two: 5px;
$margin-three: 30px;

$border-button: $margin-one solid $color-one;

$width-card: 400px;
$width-button-switch: 50px;
$width-pop-up: 800px;

$height-header: 50px;
$height-card: 50px;
$height--pop-up: 400px;

$shadow-one: 0 10px 20px -5px $color-shadow;